{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="csrf-token" content="{% csrf_token %}">-->
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'style_stp.css' %}">

</head>
<body>

  <div class="menu">
    <div class="top-box">
      <div class="text-box1">
        <textarea id="name" ></textarea>
      </div>
      <div class="text-box2"> 
        <div class="time">
          Remaining time <span id="time">01:00</span> minutes!
        </div>
       </div>
      <div class="start-btn">
        <button class = "start" id='start-stop' >
          start/stop
        </button>
      </div>
    </div>
    <div class="top2-box">
      <div class="text-box3">
        <div class="score">
          Current score <span id="score"></span>
        </div>
      </div>
      <div class="text-box4">
        <div id = "task"></div>
      </div>
      <div class="text-box5">
        <div class="NN-guess">
          <section id='variants'>

				I think this is:
				<ul class = "horizontal">

				</ul>

			</section>
        </div>
      </div>
     </div>
      
    </div>
    <div class="game">
      <div class="leaderboard">
        <div class="leader-title">
          <div class="Leader-title">
            Leaderboard
          </div>
        </div>
        <div class="leader-board">
            <section id='leaderboard'>

				<ul class = "vertical">

				</ul>

			</section>

        </div>
      </div>
      <div class="whiteboard">
        <canvas id='canvas'>
				canvas.width = 256;
				canvas.height = 256;

				canvas.style.width = "100%";
				canvas.style.height = "100%";
        </canvas>
      </div>

      <div class="game-process">
        <div class="clear-btn">
          <button class = "clear" id='clear'>
            clear
          </button>
        </div>
        <div class="skip-btn">
          <button id = "skip">
            skip
          </button>
        </div>
      </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

{% csrf_token %}
<script src="{% static 'read_picture.js' %}"></script>
<!---<script src="{% static 'vue.js' %}"></script>--->

</html>