{% load static %}

<html>
	<head>
	<meta name="csrf-token" content="{% csrf_token %}">
	<link rel="stylesheet" href="{% static 'main.css' %}">
	</head>
	<body>
		
		<div id='task' v-bind:title="message"> {{message}}

			<!--<span>placeholder</span>
			<br>
			<span>placeholder</span>
			<span>placeholder</span>
			<span>placeholder</span>-->
		</div>
		<div>Remaining time <span id="time">01:00</span> minutes!</div>
		<div>Current score <span id="score"></span></div>
		<main>
			<canvas id='canvas'> 
				canvas.width = 256;
				canvas.height = 256;

				canvas.style.width = "100%";
				canvas.style.height = "100%";
			</canvas>

			<section id='variants'>

				I think this is:
				<ul>
					
				</ul>

				<button id='clear'>clear</button>
				<button id='start-stop'>start</button>

			</section>

			<section id='leaderboard'>

				<ul>

				</ul>

			</section>
		</main>
		<!--<img alt='KEK' src=''>-->
		
	</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	
{% csrf_token %}
<script src="{% static 'read_picture.js' %}"></script>
<script src="{% static 'vue.js' %}"></script>
</html>