main {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

#task {
	
	width: 100%;
	height: 20%;
	background-color: aqua;
	
}

#canvas {

	visibility: hidden;
	width: 500px;
	height: 500px;
	background-color: azure;

}

ul {
	
	list-style: none;
	
}

#clear {
	
	align-self: center;
	
}

li {
	
	width: 100px;
	height: 50px;
	
}