* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
  }
  
  /* Navigation */


.menu{
    display: flex;
    width: 100%;
    height: 20vh;  
    flex-direction: column;
}


.top-box{
    width: 100%;
    height: 10vh;
    left: 0vw;
    top: 0vh;
    
    background: #FFCC7E;
    border-radius: 0.5%;
  }



.top-box > *{

    flex-grow: 0;
}

.top-box{
    display: flex;
    justify-content: none;
}



.text-box1{
    position: relative;
    width:  17%;
    height: 6vh;
    left: 2.1%; 
    top: 2vh;

    background: #FFDCA6;
    border: 3px solid rgba(255, 171, 42, 0.6);
    box-sizing: border-box;
    box-shadow: inset 0px 2% 4% rgba(0, 0, 0, 0.3);
}

#name{
    opacity: 60%;
    size: inherit;
    width: 100%;
    height: 100%;
    /* must be invisible*/
}

.text-box2{

    position: relative;
    width: 17.5%;
    height: 60%;
    left: 24.1%;
    top: 2vh;

    background: #FFDCA6;
    border: 3px solid rgba(255, 171, 42, 0.6);
    box-sizing: border-box;
    box-shadow: inset 0px 2% 4% rgba(0, 0, 0, 0.3);
}

.time{
    size: inherit;
    padding: 1 10;
}

.start-btn{
    position: relative;
    width: 17.2%;
    height: 60%;
    left: 45.7%;
    top: 2vh;

    background: #FFDCA6;
    border: 3px solid rgba(255, 171, 42, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 2% 5% rgba(29, 24, 17, 0.5);
}

.start{
    size: inherit;
    width: 100%;
    height: 100%;
}

.top2-box{
  width: 100%;
  height: 10vh;
  left: 0px;
  top: 50%;
  background: #77FDAD;
  border-radius: 2%;
  
}


.top2-box > *{
    flex-grow: 0;
}

.top2-box{
    display: flex;
    justify-content: left;
}

.text-box3{
    position: relative;
    width: 17.2%;
    height: 60%;
    left: 2.1%;
    top: 25%;

    background: #A2FFC7;
    border: 1.5% solid rgba(128, 242, 74, 0.6);
    box-sizing: border-box;
    box-shadow: inset 0px 2% 4% rgba(0, 0, 0, 0.3);
}

.score{
    size: inherit;
    padding: 1 15;
}

.text-box4{
    position: relative;
    width: 17.2%;
    height: 60%;
    left: 4%;
    top: 25%;

    background: #A2FFC7;
    border: 1.5% solid rgba(128, 242, 74, 0.6);
    box-sizing: border-box;
    box-shadow: inset 0px 2% 4% rgba(0, 0, 0, 0.3);
}

#task{

    size: inherit;
    width: 100%;
    height: 100%;
}



.text-box5{
    position: relative;
    width: 56.53%;
    height: 60%;
    left: 6%;
    top: 25%;

    background: #A1FFC7;
    border: 1.5% solid rgba(128, 242, 74, 0.6);
    box-sizing: border-box;
    box-shadow: inset 0px 2% 4% rgba(0, 0, 0, 0.3);
}
.NN-guess{
    size: inherit;
    width: 100%;
    height: 100%;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

li{
    margin: 5 5;
    text-align: center;
    border: 2px solid rgba(33, 173, 252, 0.5);

    border-radius: 2px

}

ul {
    padding: 0 0;
	list-style: none;

}

.game > div{
    flex-grow: 0;
}

.game{
    display: flex;
    width: 100%;
                        height: 57.2%;/*80.46%;*/
    justify-content: center;

}

.leaderboard{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21.4%;
    height: 80vh;
    left: 0px;
    top: 0px;
    background: #43F4FF;
  }

.leader-title{
    position: relative;
    width: 80.5%;
    height: 7.2%;
    left: 9.7%;
    top: 3.4%;

    background: #B7F6FF;
    border: 1.5% solid rgba(33, 173, 252, 0.4);
    box-sizing: border-box;
}
.Leader-title{
    padding: 5 5;
    size: inherit;
}

.leader-board{
    position: relative;
    width: 80.5%;
    height: 82.6%;
    left: 9.7%;
    top: 5%;

    background: #B7F6FF;
    border: 2% solid rgba(33, 173, 252, 0.5);
    box-sizing: border-box;
    box-shadow: inset 0px 2% 4% rgba(0, 0, 0, 0.3);
}


.vertical{
    direction: flex;
    flex-direction: column;
}

.whiteboard{
    position: relative;
    width: 57.2%;
    height: 80vh;
    left: 0%;
    top: 0px;
    
    background: #FFFED4;
    border: 3.5% solid rgba(247, 34, 34, 0.5);
    box-sizing: border-box;
  }

#canvas {
    visibility: hidden;
	width: 100%;
	height: 100%;
	background-color: azure;

}

 
.game-process{
    position: relative;
    width: 21.4%;
    height: 80vh;
    left: 0vh;
    top: 0px;
    background: #FFCC7E;
}

.clear-btn{
    position: relative;
    width: 58.7%;
    height: 10.4%;
    left: 20.5%;
    top: 9.6%;

    background: #FFDCA6;
    border: 1.5% solid rgba(255, 171, 42, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 2% 5% rgba(29, 24, 17, 0.5);
}

.clear{
    size: inherit;
    width: 100%;
    height: 100%;
}

.skip-btn{
    position: relative;
    width: 58.7%;
    height: 10.4%; 
    left: 20.5%;
    top: 27.42%;

    background: #FDDCAB;
    border: 3% solid rgba(199, 25, 1, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 2% 2% rgba(0, 0, 0, 0.25);
}


#skip{
    size: inherit;
    width: 100%;
    height: 100%;
}
